[access "refs/*"]
        owner = group android_device_samsung_j2corelte
                label-Verified = -1..+1 group android_device_samsung_j2corelte
[receive]
        requireChangeId = true
	maxObjectSizeLimit = 99999999999999999
[submit]
        mergeContent = true
        action = merge always
